<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        
        div a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding-right: 25px;
            display: inline-block;
        }
        
        ul {
            display: inline;
            margin: 0;
            padding: 0;
        }
        
        ul li {
            display: inline-block;
        }
        
        ul li:hover {
            background: #555;
        }
        
        ul li:hover ul {
            display: block;
        }
        
        ul li ul {
            position: absolute;
            width: 150px;
            display: none;
        }
        
        ul li ul li {
            background: #555;
            display: block;
        }
        
        ul li ul li a {
            display: block !important;
        }
        
        ul li ul li:hover {
            background: #666;
        }
    </style>
</head>

<body>
    <div style="background-color:black;width:100%;margin-top:0%;">
        <a href="#" style="margin-left:1%;">
             <img src="masterminds.jpg" alt="logo" style="width:150px;height:65px;">
        </a>
        <a href="#">Home</a>
        <a href="#">About</a>
        <ul>
            <li>
                <a href="#">Dropdown Link</a>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </li>
        </ul>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a href="#">Login</a>
    </div>
    <br>
</body>