<% include _header %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Some Page</h1>
        <form action="/subscribe" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="business_website">Business Website</label>
                <input type="text" id="business_website" name="business_website" class="form-control">
            </div>
            <div class="form-group">
                <label for="business_logo">Business Logo</label>
                <input type="file" id="business_logo" name="business_logo" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>

<% include _footer %>