<div ng-controller="editbopCtrl">
    <h1>Edit Your Business Profile</h1>
    <button ng-click="addSer()" class="btn btn-primary">Add Services</button>
    <button ng-click="editSer()" class="btn btn-primary">Edit Services</button>
    <form name="form" action="/editboprofile" method="post" enctype="multipart/form-data" novalidate>
        <div>
            <h2>Fill the fields you would like to edit</h2>
            {{message}}
        </div>
        <div class="form-group">
            <label for="new_email">New E-Mail</label>
            <input type="email" ng-model="data.new_email" name="new_email" class="form-control">
            <span class="error-message" ng-show="form.new_email.$dirty && form.new_email.$error.email">Must be an email</span>
        </div>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" ng-model="data.new_password" name="new_password" class="form-control">
            <span class="error-message" ng-show="form.new_password.$dirty && form.new_password.$error.minlength">Minimum 6 Characters</span>
        </div>
        <div class="form-group">
            <label for="fullName">Owner's Full Name</label>
            <input type="text" ng-model="data.fullName" name="fullName" class="form-control">
        </div>
        <div class="form-group">
            <label for="business_name">Business Name</label>
            <input type="text" ng-model="data.business_name" name="business_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="address">Business Address</label>
            <input type="text" ng-model="data.address" name="address" class="form-control">
        </div>
        <div class="form-group">
            <label for="business_description">Business Description</label>
            <input type="text" ng-model="data.business_description" name="business_description" class="form-control">
        </div>
        <div class="form-group">
            <label for="associated_bank">Associated Bank</label>
            <input type="text" ng-model="data.associated_bank" name="associated_bank" class="form-control">
        </div>
        <div class="form-group">
            <label for="business_emails">Business E-mails</label>
            <input type="text" ng-model="data.business_emails" name="business_emails" class="form-control">
        </div>
        <div class="form-group">
            <label for="business_website">Business Website</label>
            <input type="text" ng-model="data.business_website" name="business_website" class="form-control">
        </div>
        <div class="form-group">
            <label for="business_logo">Business Logo</label>
            <input type="file" name="business_logo" class="form-control">
        </div>
        <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel Changes</button>
        <button type="submit" ng-click="edit()" class="btn btn-primary">Edit Profile</button>
    </form>
</div>