<div ng-controller="adminController">
<div ng-show="isAdmin" data-ng-init="getUsers()">
<div class="page-header">
    <h1>Control Users</h1>
</div>
<!--<input type="text" name="username" placeholder="Please enter a name" ng-model="" > -->
<ul>
<li data-ng-repeat="user in userList" style="margin-bottom:20px;">
	 Username: {{user.username}}
	<br> Fullname: {{user.fullname}}
	<br> Email: {{user.reported}}
	<br> Banned: {{user.ban}}
	<br> ID: {{user._id}}
	<br>
	<button ng-click="banUser(user.username)">Ban User</button>
</li>
</ul>
<br>
<br>
</div>
<div class="page-header" ng-hide="isAdmin">
	<center>
	<h1>An error occurred!</h1> 
	<br><h1>{{reason}}</h1>
	</center>
</div>
</div>