<div ng-controller="adminController">
<div ng-show="isAdmin" data-ng-init="getBus()">
<div class="page-header">
    <h1>Control Businesses</h1>
</div>
<!--<input type="text" name="username" placeholder="Please enter a name" ng-model="" > -->
<ul>
<li data-ng-repeat="bus in busList" style="margin-bottom:20px;">
	 Business name: {{bus.business_name}}
	<br> Owner Fullname: {{bus.fullName}}
	<br> Owner Email: {{bus.personal_email}}
	<br> Banned: {{bus.ban}}
	<br> ID: {{bus._id}}
	<br>
	<button ng-click="banBus(bus.business_name)">Ban Business</button>
	<button ng-click="deleteBus(bus.business_name)">Delete Business</button>
</li>
</ul>
<br>
<br>
</div>
<div class="page-header" ng-hide="isAdmin">
	<center>
	<h1>An error occurred!</h1> 
	<br><h1>{{reason}}</h1>
	</center>
</div>
</div>