
    <div ng-controller="RateAndReviewBusinessCtrl">
      <form class ="form-group" ng-submit= "Post_Rate(content)">
        <p class="jumbotron" >your rating is important to us </p>
        <div class="btn-group" data-toggle="radio">
        <label class="btn btn-primary active">
          <input type="radio" name="rating" id="rating" value =1 ng-model="content.rating" autocomplete="off" checked>1 star
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="rating" id="rating"  value =2 ng-model="content.rating" autocomplete="off">2 stars
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="rating" id="rating" value =3 ng-model="content.rating" autocomplete="off">3 stars
        </label>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating" id="rating" value =4 ng-model="content.rating" autocomplete="off">4 stars
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating" id="rating" value =5 ng-model="content.rating" autocomplete="off">5 stars
      </label>
    </div></br></br>
      <input class ="btn btn-primary" type="submit" value = "add">
      <input class ="btn btn-primary" type="reset" value="clear">
      </form>

      <p class="jumbotron">please provide us with your review</p>
      <form ng-submit ="Post_Review(content)" class ="form-group" >
        <label for="comment">review:</label>
      <textarea name="review"  class="form-control" id="review"  rows="5" ng-model="content.rating"></textarea> </br>
        <input class ="btn btn-primary" type="submit" value = "add">
        <input class ="btn btn-primary" type="reset" value="clear">
      </form>
    </div>
