<div ng-controller="HomepageController">
      
      <input type="text" placeholder="Search" ng-model="Search" />
      <br>
      <button ng-click="getSearch()">Submit</button>
      <br><br>

	<div class="verticalmenu" >
		<div ng-repeat="business in businesses" ng-hide="business.flag">
		<article >
			<div class="trialimage">
				<img src="../../businessowner/{{business.business_logo}}" class="generic-icon" width="80" height="80" align="left">
			</div>
			<div class="title">
				<span class="name">
					<a href="#/{{business.business_name}}"> {{business.business_name}}</a>
					<br>
					<a href="#/Rate_Review_Business/{{business.business_name}}"><button type="button" class="btn btn-default">Rate and review</button><a>
					<br
				      <a href="#/like/{{business.business_name}}"><button type="button" class="btn btn-default">Like</button><a>
				</span>
				<br>
			</div>
		</article>
		</div>
	</div>
</div>