<div ng-controller="HomepageController">


  <style type="text/css">


  .verticalmenu{
    width: 500px;
    border: 5px solid #7c7c7c;
    margin-left: auto;
    margin-right: auto;
  }
  .verticalmenu a{
    color: white;
    background-color: #3f3f3f;
    display: block;
    padding: 12px;
    text-decoration: none;

  }
  .verticalmenu a:hover{
    background-color: #7c7c7c;
  }
  .verticalmenu article{
    color: white;
    height: 200px;
    background-color: #3f3f3f;
  }
  .verticalmenu article:hover{
    background-color: #7c7c7c;
  }

  .divider{
    width:200px;
    display:inline-block;
  }


  </style>
  <div class="jumbotron" style="margin-bottom: 0px;
    background-image: url(Masterminds.jpg);
    background-position: 0% 0%;
    background-size: 1150px 300px;
    background-repeat: no-repeat;
    height: 300px;
    background-color: white;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;"></div><br>

      <input type="text" placeholder="Search" ng-model="Search" />
      <br>
      <br><br>
<div class="row">
  <div class="col-md-3 push-md-9">
    <div class="jumbotron" ng-repeat="ad in ads" align = "middle" style="margin-bottom: 0px;
    background-image: url(../../circle.png);
    background-position: 0% 25%;
    background-size: 260px 180px;
    background-repeat: no-repeat;
    background-color: white;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;">
      <a href="#/detailedService/{{ad.business_name}}/{{ad.service_name}}"><p style="text-decoration: underline;"> {{ad.business_name}} </p>
      <p> {{ad.service_name}} </p></a>
    </div>
  </div>
  <div class="col-md-6 push-md-6">
    <div class="tab jumbotron row" ng-repeat="business in businesses | filter:{business_name:Search}">
      <a class="col-md-2 push-md-10" href="#/business/{{business.business_name}}"> <img src="../../businessowner/{{business.business_logo}}" style="width:200px;height:140px;"> </img>
      </a>
      <br><br>
      <div class="divider"></div>
      <span class="name">
        <a href="#/business/{{business.business_name}}" class="btn btn-info btn-lg"> {{business.business_name}}</a>
      </span>

    </div>
  </div>
</div>