<div ng-controller="serviceController">
  <div class="row">
    <div class="col-md-11 push-md-1">
      <h1>Title: {{service_name}}</h1>
    </div>
    <div class="col-md-1 push-md-11">
      <script src="https://checkout.stripe.com/checkout.js"></script>

      <form ng-submit="checkout()">
        <input type='submit' value='Purchase' id="customButton">
        <p style="color: red">{{logged}}</p>
      </form>
    </div>

  </div><br>

  <div ng-controller="navigation">
    <div ng-show="type == 'business'">
      <form ng-submit="advertise()">
        <p style="color: green">{{advertiseSuccessMessage}}</p>
        <p style="color: red">{{advertiseFailureMessage}}</p>
        <input type='submit' value='Advertise' id="review">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 push-md-7"> <img src="{{service_pic}}" alt="logo" style="width:300px;height:300px;"></div><br>
    <h2>Description:</h2>
    <div class="col-md-7 push-md-5">{{service_description}}</div>
  </div><br>

  <div class="row">
    <div class="col-md-8 push-md-4">
      <h2>Price: {{service_price}}</h2>
    </div>
    <div class="col-md-4 push-md-8">
      <h2>SALE: {{promotion_offer}}%</h2>
    </div>
  </div><br>
  <form ng-submit="rateService(service)">
    <span class="rating" ng-model="service.review">
  Please Rate: 
  <p style="color: green">{{rateSuccessMessage}}</p>
  <p style="color: red">{{rateFailureMessage}}</p>
  <input ng-model="service.rating" id="rating1" type="radio" name="rating" value="1">
  <label for="rating1">1</label>
  <input ng-model="service.rating" id="rating2" type="radio" name="rating" value="2">
  <label for="rating2">2</label>
  <input ng-model="service.rating" id="rating3" type="radio" name="rating" value="3">
  <label for="rating3">3</label>
  <input ng-model="service.rating" id="rating4" type="radio" name="rating" value="4">
  <label for="rating4">4</label>
  <input ng-model="service.rating" id="rating5" type="radio" name="rating" value="5">
  <label for="rating5">5</label>
  <input class="btn btn-3 btn-2j" onfocus="blur()" type="submit" value="Submit" id="rate">
  <p>Your rating: {{service.rating}}</p>
</span></form><br>
  <div>Overall Rating: {{service_rating}}</div><br>

  <h2>Comments:</h2>
  <p style="color: green">{{reportSuccessMessage}}</p>
  <p style="color: red">{{reportFailureMessage}}</p>
  <div ng-repeat="service in service_reviews" class="jumbotron" style="border: 1px solid grey">
    <form ng-submit="reportReview(service)" >
      <fieldset>
        <div class="row">
          <legend class="col-md-11 push-md-1" ng-hide="isAdmin">{{service.username}}:</legend>
          <a class="col-md-11 push-md-1" ng-show="isAdmin" ng-href="#/client_profile/{{service.username}}">{{service.username}}:</a>
          <input ng-model="service.review" class="col-md-1 push-md-11 btn btn-2 btn-2j" onfocus="blur()" type="submit" value="report" ng-hide="isAdmin">

        </div>
        </fieldset>
        </form>
        <div ng-model="service.review">{{service.review}}</div>
          <button  onfocus="blur()" data-ng-click="deleteReview(service._id)"  ng-show="isAdmin">Delete review</button>
          <br>
          <button  onfocus="blur()" data-ng-click="onlyBanUser(service.username)" ng-show="isAdmin">Ban User</button>

      
    
  </div><br>

  <form ng-submit="reviewService(service)">
    Comment:<br>
    <p style="color: green">{{reviewSuccessMessage}}</p>
    <p style="color: red">{{reviewFailureMessage}}</p>
    <textarea name='comment' id='comment' style="width:40%" ng-model="service.review"></textarea><br />
    <input class="btn btn-3 btn-2j" onfocus="blur()" type='submit' value='Submit' id="review">
  </form><br><br>

</div>