<div ng-controller="serviceController">
  <style>
    .btn {
      border: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background: none;
      cursor: pointer;
      padding: 25px 80px;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 7pt;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    
    .btn-2j {
      border-radius: 50%;
      width: 50px;
      height: 30px;
      padding: 0;
    }
    
    .btn-2 {
      background: #cb4e4e;
      color: #fff;
      box-shadow: 0 6px #ab3c3c;
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
    }
    
    .btn-3 {
      background: green;
      color: #fff;
      box-shadow: 0 6px darkgreen;
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
    }
  </style>
  <div class="row">
    <div class="col-md-11 push-md-1">
      <h1>Title: {{service_name}}</h1>
    </div>
    <div class="col-md-1 push-md-11">
      <form action="/checkout" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_NxzB4uWCnPgIv2pcsnsVEwdd" data-amount="2000"
          data-name="Demo Site" data-description="2 widgets" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">

          </script>
      </form>
    </div>

  </div><br>

  <div class="row">
    <div class="col-md-5 push-md-7"> <img src="{{service_pic}}" alt="logo" style="width:300px;height:300px;"></div><br>
    <h2>Description:</h2>
    <div class="col-md-7 push-md-5">{{service_description}}</div>
  </div><br>

  <div class="row">
    <div class="col-md-8 push-md-4">
      <h2>Price: {{service_price}}</h2>
    </div>
    <div class="col-md-4 push-md-8">
      <h2>SALE: {{promotion_offer}}%</h2>
    </div>
  </div><br>
  <form ng-submit="rateService(service)">
    <span class="rating" ng-model="service.review">
  Please Rate: 
  <p style="color: green">{{rateSuccessMessage}}</p>
  <p style="color: red">{{rateFailureMessage}}</p>
  <input ng-model="service.rating" id="rating1" type="radio" name="rating" value="1">
  <label for="rating1">1</label>
  <input ng-model="service.rating" id="rating2" type="radio" name="rating" value="2">
  <label for="rating2">2</label>
  <input ng-model="service.rating" id="rating3" type="radio" name="rating" value="3">
  <label for="rating3">3</label>
  <input ng-model="service.rating" id="rating4" type="radio" name="rating" value="4">
  <label for="rating4">4</label>
  <input ng-model="service.rating" id="rating5" type="radio" name="rating" value="5">
  <label for="rating5">5</label>
  <input class="btn btn-3 btn-2j" onfocus="blur()" type="submit" value="Submit" id="rate">
  <p>Your rating: {{service.rating}}</p>
</span></form><br>
  <div>Overall Rating: {{service_rating}}</div><br>

  <h2>Comments:</h2>
  <p style="color: green">{{reportSuccessMessage}}</p>
  <p style="color: red">{{reportFailureMessage}}</p>
  <div ng-repeat="service in service_reviews">
    <form ng-submit="reportReview(service)" class="jumbotron" style="border: 1px solid grey">
      <fieldset>
        <div class="row">
          <legend class="col-md-11 push-md-1">{{service.username}}:</legend>
          <input ng-model="service.review" class="col-md-1 push-md-11 btn btn-2 btn-2j" onfocus="blur()" type="submit" value="report">
        </div>
        <div ng-model="service.review">{{service.review}}</div>
      </fieldset>
    </form>
  </div><br>

  <form ng-submit="reviewService(service)">
    Comment:<br>
    <p style="color: green">{{reviewSuccessMessage}}</p>
    <p style="color: red">{{reviewFailureMessage}}</p>
    <textarea name='comment' id='comment' style="width:40%" ng-model="service.review"></textarea><br />
    <input class="btn btn-3 btn-2j" onfocus="blur()" type='submit' value='Submit' id="review">
  </form><br><br>

</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>