<div ng-controller="serviceController">

  <div class="row">
    <div class="col-md-11 push-md-1">
      <h1>Title: {{service_name}}</h1>
    </div>
    <form ng-submit="pay()">
      <input class="col-md-1 push-md-11" type="submit" value="BUY" style="background-color:blue;color:wheat;border: 2px solid blue;border-radius: 8px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh" data-amount="999"
        data-name="Stripe.com" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto" data-zip-code="true">

        </script>
    </form>
  </div><br>

  <div class="row">
    <div class="col-md-5 push-md-7"> <img src="{{service_pic}}" alt="logo" style="width:300px;height:300px;"></div><br>
    <h2>Description:</h2>
    <div class="col-md-7 push-md-5">{{service_description}}</div>
  </div><br>

  <div class="row">
    <div class="col-md-8 push-md-4">
      <h2>Price: {{service_price}}</h2>
    </div>
    <div class="col-md-4 push-md-8">
      <h2>SALE: {{promotion_offer}}%</h2>
    </div>
  </div><br>

<span class="rating">
  Please Rate: 
  <input id="rating1" type="radio" name="rating" value="1">
  <label for="rating1">1</label>
  <input id="rating2" type="radio" name="rating" value="2">
  <label for="rating2">2</label>
  <input id="rating3" type="radio" name="rating" value="3">
  <label for="rating3">3</label>
  <input id="rating4" type="radio" name="rating" value="4" checked>
  <label for="rating4">4</label>
  <input id="rating5" type="radio" name="rating" value="5">
  <label for="rating5">5</label>
</span>
  <div>Overall Rating: {{service_rating}}</div><br>

  <h2>Comments:</h2>
  <div ng-repeat="service in service_reviews">
    <form style="border: 1px solid grey">
      <fieldset>
        <legend>{{service.username}}:</legend>
        <div style="background-color: lightgray;">{{service.review}}</div>
      </fieldset>
    </form><br>
  </div><br>

  <form method='post'>
    Comment:<br />
    <textarea name='comment' id='comment' style="width:40%"></textarea><br />
    <input type='submit' value='Submit' />
  </form><br>

</div>