a.myButton{
    display: block;
    background-color: #eaeaea;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: Black;
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
}
a.myButton:hover{
    background-color: #E0E0E0;
}
