<div ng-controller = "AdminClientprofileCtrl">
  <P ng-init="message=''">
  <span ng-bind="message"></span>
  </p>
  <div ng-init="profile_pic=''" ng-init="fullName=''" ng-init="username=''" ng-init="email=''" ng-init="address=''" ng-init="phone_number=''">
  <img class="img-thumbnail" src="../../client/{{profile_pic}}"  alt="personal photo" class="generic-icon" height="150" width="150" ></br>
  <label class="jumbotron">full name:</label> <span ng-bind="fullName"></span></br>
  <label class="jumbotron">username:</label><span ng-bind="username"></span></br>
  <label class="jumbotron">email:</label><span ng-bind="email"></span></br>
  <label class="jumbotron">address:</label><span ng-bind="address"></span></br>
  <label class="jumbotron">phone_number:</label><span ng-bind="phone_number"></span>
  </div>
  <form ng-submit ="" class ="form-group" >
  <input class ="btn btn-primary" type="submit" value = "ban">
  </form>
</div>
