<!DOCTYPE html>
<html>
<head ng-controller ='ViewBusinessCtrl as business'>
  <div class="row">
    <img src=../businessowner/{{business_logo}} class="logo col-md-6 push-md-6" style="width:500px;height:350px;"> </img>
    <div class="row col-md-6 push-md-6">
    <h1 class="col-md-10 push-md-2" style="text-decoration: underline">{{business_name}}</h1><br>
    <button type="button" class="btn btn-3 btn-2j col-md-2 push-md-0" ng-hide="isAdmin" ng-click="getLikeBusiness()">Like</button>
    <br>
    </div>
    <div class="row col-md-6 push-md-6">
    <h3 class="col-md-10 push-md-2">Website: <a href="https://{{business_website}}">{{business_website}}</a></h3><br>
    <br>
    </div>
    <div class="row col-md-6 push-md-6">
    <h3 class="col-md-10 push-md-2" ng-repeat="email in business_emails">Emails: <a>{{email.email}} </a></h3><br>
    </div>
    <br>
    <div class="row col-md-6 push-md-6">
    <h3 class="col-md-10 push-md-2">Address: {{business_address}} </h3><br>
    <br>
    </div>
    <div class="row col-md-6 push-md-6">
    <h3 class="col-md-10 push-md-2">Owner: {{fullName}} </h3><br>
    <br>
    </div>
  </div>
  <form class ="form-group" ng-show="isAdmin">
  <input class ="btn btn-primary" type="submit" value = "Ban" ng-hide="banned" ng-click="banBus(business_name)">
  <input class ="btn btn-primary" type="submit" value = "Unban" ng-show="banned" ng-click="banBus(business_name)">
  <input class ="btn btn-primary" type="submit" value = "Delete Business"  ng-click="deleteBus(business_name)">
  </form>
<br>
  <section ng-controller = "tabController as tab">
    <ul class="nav nav-pills">
      <li ng-class = "{active: tab.isSelected(1)}">
        <a href ng-click = "tab.selectTab(1)">Description</a>
      </li>
      <li ng-class = "{active: tab.isSelected(2)}">
        <a href ng-click = "tab.selectTab(2)">Services</a>
      </li>
      <li ng-class = "{active: tab.isSelected(3)}">
        <a href ng-click = "tab.selectTab(3)">FAQ</a>
      </li>
    </ul>

    <div class="tab jumbotron" ng-show ="tab.isSelected(1)">
      <h2>Description:</h2>
      <p>{{business_description}}</p>
    </div>

      <h3 ng-show ="tab.isSelected(2)">Services:</h3>
    <div class="tab jumbotron row" ng-show ="tab.isSelected(2)" ng-repeat="service in services">
      <a class="col-md-2 push-md-10" href="#/detailedService/{{location}}/{{service.service_name}}"><img src={{service.service_pic}} class="service_logo" style="width:100px;height:70px;"></img></a>
      <h3><a href="#/detailedService/{{location}}/{{service.service_name}}">   {{service.service_name}}</a></h3>

    </div>

    <div class="tab jumbotron" ng-show ="tab.isSelected(3)">
      <h4>FAQ</h4>
      <p>{{FAQ}}</p>

    </div>
  </section><br><br>

 <form ng-submit="rateBusiness(business)">
    <span class="rating" ng-model="business.review">
  Please Rate: 
  <p style="color: green">{{rateSuccessMessage}}</p>
  <p style="color: red">{{rateFailureMessage}}</p>
  <input ng-model="business.rating" id="rating1" type="radio" name="rating" value="1">
  <label for="rating1">1</label>
  <input ng-model="business.rating" id="rating2" type="radio" name="rating" value="2">
  <label for="rating2">2</label>
  <input ng-model="business.rating" id="rating3" type="radio" name="rating" value="3">
  <label for="rating3">3</label>
  <input ng-model="business.rating" id="rating4" type="radio" name="rating" value="4">
  <label for="rating4">4</label>
  <input ng-model="business.rating" id="rating5" type="radio" name="rating" value="5">
  <label for="rating5">5</label>
  <input class="btn btn-3 btn-2j" onfocus="blur()" type="submit" value="Submit" id="rate">
  <p>Your rating: {{business.rating}}</p>
</span></form><br>
  <div>Overall Rating: {{business_rating}}</div><br>

  <h2>Comments:</h2>
  <p style="color: green">{{reportSuccessMessage}}</p>
  <p style="color: red">{{reportFailureMessage}}</p>
  <div ng-repeat="business in business_reviews" class="jumbotron" style="border: 1px solid grey">
    <form ng-submit="reportReview(business)" >
      <fieldset>
        <div class="row">
          <legend class="col-md-11 push-md-1" ng-hide="isAdmin">{{business.username}}:</legend>
          <a class="col-md-11 push-md-1" ng-show="isAdmin" ng-href="#/client_profile/{{business.username}}">{{business.username}}:</a>
          <input ng-model="business.review" class="col-md-1 push-md-11 btn btn-2 btn-2j" onfocus="blur()" type="submit" value="report" ng-hide="isAdmin">

        </div>
        </fieldset>
        </form>
        <div ng-model="business.review">{{business.review}}</div>
          <button  onfocus="blur()" data-ng-click="deleteReview(business._id)"  ng-show="isAdmin">Delete review</button>
          <br>
          <button  onfocus="blur()" data-ng-click="onlyBanUser(business.username)" ng-show="isAdmin">Ban User</button>

      
    
  </div><br>

  <form ng-submit="reviewBusiness(business)">
    Comment:<br>
    <p style="color: green">{{reviewSuccessMessage}}</p>
    <p style="color: red">{{reviewFailureMessage}}</p>
    <textarea name='comment' id='comment' style="width:40%" ng-model="business.review"></textarea><br />
    <input class="btn btn-3 btn-2j" onfocus="blur()" type='submit' value='Submit' id="review">
  </form><br><br>

</div>

</head>
